.gradle/
build/
app/build/
app/release.keystore
*.jks
*.apk
local.properties
.idea/
*.iml
.DS_Store
Thumbs.db

# Firebase service account key
app/src/main/res/raw/fcm_key.json
license-generator/app/src/main/res/raw/fcm_key.json
